@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@600&family=Poppins:wght@300&display=swap');

img, body {
    margin: 0;
}

p, h3 {
    font-style: none;
    margin: 0%;
}

.defaultbg {
    width: 100%;
    height: 100%;
    background-color: rgba(243, 187, 221, 63%);
    background-image: url(./src/img/mainpageBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#homepage {
    display: none;
}

#registerPG {
    display: none;
}

#loginPG {
    display: none;
}

#profilePG {
    display: none;
}

#cartPG {
    display: none;  
}

#catalogue {
    display: none;
    flex-direction: column;
    row-gap: 50px;
}


.header {
    width: 100%;
    height: 137px;
    background-color: rgba(248, 32, 200, 37%);
    display: flex;
    
}

#homeBtn:hover {
    cursor: pointer;
}

#catalogueBtn:hover {
    cursor: pointer;
}


#mainHeaderLogo {
    display: flex;
    margin-top: 25px;

}

#insideHeader {
    display: flex;
    flex-direction: row;
    column-gap: 13px;
    align-items: center;
    justify-content: space-between;
    margin-left: 30%;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


#mainHeaderLogo:hover {
    cursor: pointer;
}

#profileLogo:hover {
    cursor: pointer;
}

#cartLogo:hover {
    cursor: pointer;
}

#firstTitle {
    display: flex;
    margin-left: 15%;
    margin-top: 9%;

}

#firstBox {
    width: 1000px;
    height: 800px;
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    margin-left: 50px;

}

    #astronautText {
        margin-left: 50px;
        
    }

#registerForms {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 50px;
    row-gap: 30px;
    height: 900px;

}

.registerBox{
    width: 444px;
    height: 41px;
    border-radius: 50px;
    background-color: #D4DDDC;
    border-color: #D4DDDC;
    box-shadow: #D4DDDC;
    font-family: 'Poppins', sans-serif;
    font-style: bolder;
    font-size: 15px;
    color: #5D949E;
    box-shadow: 0;
}

#registerSubmit {
    width: 303px;
    height: 53px;
    border-radius: 50px;
    margin-left: 60px;
    background-color: #560BAD;
    color: white;
    font-size: 24px;
    box-shadow: 0;

}

#loginForms {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

    .loginBox {
         width: 444px;
         height: 41px;
         border-radius: 50px;
         background-color: #D4DDDC;
         border-color: #D4DDDC;
         box-shadow: #D4DDDC;
         font-family: 'Poppins', sans-serif;
         font-style: bolder;
         font-size: 15px;
         color: #5D949E;
         box-shadow: 0;
     }
          #loginSubtext {
              font-family: 'Poppins', sans-serif;
              margin-bottom: 20px;
          }
          #loginSubmit {
            width: 303px;
            height: 53px;
            border-radius: 50px;
            margin-left: 60px;
            background-color: #560BAD;
            color: white;
            font-size: 24px;
            box-shadow: 0;

          }
         #loginButtonSubtext {
            font-family: 'Poppins', sans-serif;
            margin-left: 100px;

         }

#profileInfos {
    display: flex;
    margin-top: 100px;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Hind Vadodara', sans-serif;
}    
     #optionsBox {
         display: flex;
         flex-direction: column;
         row-gap: 0px;
         width: 304px;
         height: 416px;
         margin-top: 50px;
     }
         .profileButtons {
             width:304px;
             height: 89px; 
             
         }
     #personalData {
         border-radius: 15px;
         font-family: 'Poppins', sans-serif;

     }  
         .personalDataBox {
             border-radius: 40px;
             width: 278px;
             height: 44px;
             box-shadow: 0, 0, 0, 0;
             border-color: white;
         }

         .profileHeaderText {
             font-size: 30px;
         }

     #acessData {
         margin-right: 100px;
         font-family: 'Poppins', sans-serif;

     } 
         .modifyLoginInfo {
             width: 278px;
             height: 64px;
             background-color: #C895E4;
             border-radius: 30px;
             border-color: #C895E4;
             color: white;
             font-size: 15px;
             font-family: 'Poppins', sans-serif;
             font-style: bolder;
         }   

#cartOverBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}        
    #cartProductBox {
    display: flex;
    width: 710px;
    height: 668px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: white;
    border-radius: 50px;
    align-items: flex-start;
    justify-content: space-between;
}     
         #cartProductImage {
         width: 315px;
         height: 186px;
         border-radius: 20px;
         margin-top: 30px;
         margin-left: 30px;
     }      
     
          #cartProductTitle {
         margin-right: 250px;
         margin-top: 30px;
     }

     #cartValueBox {
         display: flex;
    width: 236px;
    height: 113px;
    border-radius: 30px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 80px;
    margin-bottom: 500px;
}     

#submitOrder {
    display: flex;
    position: absolute;
    left: 841px;   
    bottom: 190px;
    color: white;
    background-color: #CB94E4;
    font-size: 24px;
    font-family: 'Poppins', 'sans-serif';

   
}

#cartSideBox {
    display: flex;
    position: absolute;
    left: 1080px;
    width: 142px;
    height: 609px;
    background-color: #B5179E;
    align-items: center;
    justify-content: center;
}

.itemContainer {
    display: flex;
    margin-top: 40px;

}

.itemContainer > div {
    display: flex;
    background-color: lightgrey;
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    width: 490px;
    height: 400px;
    flex-direction: column;
    row-gap: 4px;
    align-items: flex-start;
    border-radius: 30px;
   

}

.itemTitle {
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bolder;
}

.itemDescription {
    font-size: 16px;
    text-align: left;

}

.itemPrice {
    font-size: 20px;
}

.itemDiscount {
    font-size: 16px;
    color: green;
}

.itemAddCartText {
    font-size: 12px;
    color: darkgreen;
}

.itemAddCartButton {
    background-color:#C895E4;
    border-color: grey;
    border-style: none;
    box-shadow: none;

}

.itemAddCartButton:hover {
    background-color:#a97bc2
}









