@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");


img, body {
    margin: 0;
}

body {
    height: 100%;
}

p, h3 {
    font-style: none;
    margin: 0%;
}

h1 {
    margin: none;
    text-align: center;
}

#h2effect {
    font-family: "Luckiest Guy", cursive;
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

.shadow{
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

.defaultbg {
    width: 100%;
    height: 100%;
    background-image: url(./img/homepagebg.png);
    background-repeat: no-repeat;
    background-size: contain;
   
}

#homepage {
    display: block;
    color: white;
    height: 1000px;
   
}

#registerPG {
    display: none;
}

#loginPG {
    display: none;
}

#profilePG {
    display: none;
}

#cartPG {
    display: none;  
}

#orderPG {
    display: none;
}

#productPG {
    display: none;
}

#aboutUsPG {
    display: none;
}

#catalogue {
    display: none;
    flex-direction: column;
    row-gap: 50px;
}



.header {
    width: 100%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
}

#homeBtn {
    color: rgb(147, 94, 178);
}
#homeBtn:hover {
    color: rgb(95, 57, 117);
    cursor: pointer;
}

#catalogueBtn:hover {
    color: rgb(147, 94, 178);
    cursor: pointer;
}

#contactBtn:hover {
    color: rgb(147, 94, 178);
    cursor: pointer;
}

#aboutUsBtn:hover {
    color: rgb(147, 94, 178);
    cursor: pointer;
}

#profileLogo:hover {
    color: rgb(147, 94, 178);
    cursor: pointer;
}

#cartLogo:hover {
    color: rgb(147, 94, 178);
    cursor: pointer;
}

#mainHeaderLogo {
    display: flex;
    position: absolute;
    top: 0px;
    left: 170px;
    width: 210px; 
    height: 210px;

}

#insideHeader {
    display: flex;
    flex-direction: row;
    column-gap: 17px;
    align-items: center;
    justify-content: space-between;
    margin-left: 50%;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Forum', cursive;
    color: white;
    
}


#mainHeaderLogo:hover {
    cursor: pointer;
}

#profileLogo:hover {
    cursor: pointer;
}

#cartLogo:hover {
    cursor: pointer;
}


#firstBox {
    width: 1000px;
    height: 250px;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    margin-top: 70px;
    font-family: 'Forum', cursive;
    text-align: justify;
 
}

    #astronautText {
        width: 400px;
        height: 100px;
    }

.learnMoreBtn {
    width: 150px;
    height: 50px;
    background-color: rgb(147, 94, 178);
    color: white;
    border-style: none;
    border-color: rgb(147, 94, 178);
    font-family: 'Poppins', sans-serif;
    }

.learnMoreBtn:hover {
    cursor: pointer;
    background-color: rgb(92, 33, 91);
    
}

#secondBox {
    display: block;
    margin-top: 200px;
    width: 100%;
    height: 800px;
    background-color: lightgray;
    

}    
      #secondBoxImg {
          display: flex;
          position: absolute;
          left: 150px;
          top: 730px;
          height: 524px;
          width: 562px;
      }

      #secondBoxText {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: black;
          position: absolute;
          width: 455px;
          height: 450px;
          left: 580px;
          top: 750px;
          padding: 40px;
          border-style: solid;
          border-width: 13px;
          border-color: rgb(92, 33, 91);
          font-family: 'Forum', cursive;
          color: rgb(48, 59, 64);
          text-align: justify;
      }

      #insideSecondBox {
         margin-left: 25%;
         
      }
      
#thirdBox {
    text-align: center;
   
}   
     #thirdBoxTitle {
         display: block;
         width: 100%;
         background-color: rgb(188, 172, 210);
         color: black;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0;
         flex-direction: column;
         font-size: 38px;
         font-family: 'Forum', cursive;
         color: rgb(48, 59, 64);
     }  
     #thirdBoxTitleLine {
         display: flex;
         width: 180px;
         height: 10px;
         background-color: rgb(92, 33, 91);
         margin-left: 35px;
         
     }
     #thirdBoxBoxes {
        display: flex;
        width: 100%;
        height: 600px;
        justify-content: center;
        align-items: center;
        background-color: rgb(188, 172, 210);
        font-family: 'Forum', cursive;
        
     } 
         #serviceBoxOne {
             display: flex;
             justify-content: center;
             align-items: center;
             width: 275px;
             height: 500px;
             background-color: rgb(20, 22, 27); 
             flex-direction: column;
         }
         #serviceBoxTwo {
             display: flex;
             justify-content: center;
             align-items: center;
             width: 275px;
             height: 500px;
             background-color: rgb(91, 111, 118);
             float: right;

             flex-direction: column;
         }
         #serviceBoxThree {
             display: flex;
             justify-content: center;
             align-items: center;
             width: 275px;
             height: 500px;
             background-color: rgb(147, 181, 196);
             float: right;

            flex-direction: column;
         }
         #serviceBoxFour {
             display: flex;
             justify-content: center;
             align-items: center;
             width: 275px;
             height: 500px;
             background-color: rgb(183, 223, 237);
             float: right;
             row-gap: 30px;
             flex-direction: column;
         }
         .serviceBoxesInside {
             padding: 5px;
             margin-left: 50px;
             margin-right: 80px;
         }
        
         

#registerForms {
    display: flex;
    position: absolute;
    padding: 20px;
    margin-left: 320px;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 700px;
    background-color: #644278;
    background-image: linear-gradient(315deg, #5c408c 0%, #9d649c 74%);
}

.registerBox{
         width: 444px;
         height: 41px;
         background-color: #d3c0dd;
         background-image: linear-gradient(315deg, #bfafda 0%, #a884a8 74%);
         font-family: 'Poppins', sans-serif;
         font-style: bolder;
         font-size: 16px;
         color: black;
         box-shadow: 0;
         border-left: none;
         border-top: none;
         border-right: none;
         border-bottom-color: gray;
}
     .registerBox::placeholder {
         color: black;
     }

#registerSubmit {
    width: 303px;
    height: 53px;
    margin-left: 90px;
    background-color: #ba9a8e;
    background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 24px;
    box-shadow: 0;
    border-style: none;

}
#registerSubmit:hover {
    background-color: #95796f;
    background-image: linear-gradient(315deg, #747893 0%, #6b4e5f 74%);
      cursor: pointer;
  }

#loginForms {
    display: flex;
    position: absolute;
    padding: 20px;
    margin-left: 320px;
    margin-top: 130px;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 700px;
    background-color: #644278;
    background-image: linear-gradient(315deg, #5c408c 0%, #9d649c 74%);

}

#loginTitleTxt {
    text-align: center;
    display: flex;

    padding-bottom: 100px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 46px;
    font-family: 'Forum', cursive;

}

    .loginBox {
         width: 444px;
         height: 41px;
         background-color: #d3c0dd;
         background-image: linear-gradient(315deg, #bfafda 0%, #a884a8 74%);
         font-family: 'Poppins', sans-serif;
         font-style: bolder;
         font-size: 16px;
         color: black;
         box-shadow: 0;
         border-left: none;
         border-top: none;
         border-right: none;
         border-bottom-color: gray;

     }
     .loginBox::placeholder {
         color: black;
     }
          #loginSubtext {
              font-family: 'Poppins', sans-serif;
              margin-bottom: 20px;
          }
          #loginSubtext {
              cursor: pointer;
          }
          #loginSubmit {
            width: 303px;
            height: 53px;
            margin-left: 90px;
            background-color: #ba9a8e;
            background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 24px;
            box-shadow: 0;
            border-style: none;
          }
          #loginSubmit:hover {
            background-color: #95796f;
            background-image: linear-gradient(315deg, #747893 0%, #6b4e5f 74%);
              cursor: pointer;
          }
         #loginButtonSubtext {
            font-family: 'Forum', cursive;
            margin-left: 125px;
         }
         #loginButtonSubtext:hover {
             cursor: pointer;
         }

#orderBox {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    width: 1100px;
    height: 500px;
    background-color: #88687c;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 12px;
    font-family: "Forum", cursive;
    color: white;   
}

         
#profileInnerData {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding: 15px;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #95796f;
    background-image: linear-gradient(315deg, #747893 0%, #6b4e5f 74%);
}
#profileInfos {
    display: flex;
    margin-top: 100px;
    color: white;
    font-family: 'Forum', cursive;
    
}    
     #optionsBox {
         display: flex;
         flex-direction: column;
         row-gap: 0px;
         width: 304px;
         height: 416px;
         font-family: 'Poppins', sans-serif;
     }
         .profileButtons {
             color: white;
             width:304px;
             height: 89px; 
             background-color: #95796f;
             background-image: linear-gradient(315deg, #747893 0%, #6b4e5f 74%);
             border-style: none;
             font-weight: bold;
             font-family: 'Poppins', sans-serif;
         }
.profileButtons:hover {
          cursor: pointer;
        background-color: #624f49;
         background-image: linear-gradient(315deg, #4a4d5f 0%, #483440 74%);

}
     #personalData {
         border-radius: 15px;
         font-family: 'Forum', cursive;
         margin-left: 50px;
         
     }  
         .personalDataBox {
             border-radius: 3px;
             width: 278px;
             height: 44px;
             box-shadow: 0, 0, 0, 0;
             border-color: black;
             border-left: none;
             border-right: none;
             border-top: none;
             background-color: #534853;
         }

         .profileHeaderText {
             font-size: 30px;
         }

     #acessData {
         display: flex;
         font-family: 'Forum', cursive;
         flex-direction: column;
         margin-right: 75px;

         margin-bottom: 105px;

     } 
         .modifyLoginInfo {
            width: 303px;
            height: 53px;
            background-color: #ba9a8e;
            background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 24px;
            box-shadow: 0;
            border-style: none;
         }
         .modifyLoginInfo:hover{
            cursor: pointer;
            background-color: #624f49;
             background-image: linear-gradient(315deg, #4a4d5f 0%, #483440 74%);
         }
         
#profileShoppingCart {
    display: none;
    width: 700px;
    height: 400px;
    background-color: white;
    margin-left: 100px;

}

#cart {
    display: flex;
    left: 50px;
    width: 700px;
    margin-top: 200px;
    margin-left: 50px;
}
#cart-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50vw;
    height: 120vh;
    overflow: scroll;
    background-color:#88687c;
    border-radius: 12px;
}
#cart-box::-webkit-scrollbar {
    display: none;
}

.product-placeholder{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #88687c;
    width: 48vw;
    height: 30vh;
    font-family: "Forum", cursive;
    font-weight: bolder;
    padding-top: 1vh;
}



#checkout-box {
    display: absolute;
    position: absolute;
    padding: 20px;
    left: 800px;
    top: 275px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#88687c;
    width: 350px;
    height: 300px;
    font-family: "Forum", cursive;
    color: white;
    border-radius: 12px;
}
#checkout-box > h3{
    margin-left: 110px;
}
#checkout-box > h2{
    margin-left: 130px;
}

#clear-cart {
    width: 150px;
    height: 50px;
    background-color: rgb(147, 94, 178);
    color: white;
    border-style: none;
    border-color: rgb(147, 94, 178);
    font-family: 'Poppins', sans-serif;
    margin-top:100px;
    margin-left: 105px;
    /* visibility: hidden; */
}
#finish-cart {
    width: 150px;
    height: 50px;
    background-color: rgb(147, 94, 178);
    color: white;
    border-style: none;
    border-color: rgb(147, 94, 178);
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    margin-left: 105px;

}
#finish-cart:hover {
    cursor: pointer;
    background-color: rgb(72, 46, 86);

}

#clear-cart:hover {
    cursor: pointer;
    background-color: rgb(72, 46, 86);

}
#buy-button{
    height: 10vh;
    width: 20vw;
}

.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;

}

.itemContainer > div {
    display: flex;
    background-color: #d3abe688;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    width: 400px;
    height: 520px;
    flex-direction: column;
    row-gap: 4px;
    align-items: center;
    font-family: "Forum", cursive;
    color: white;
    cursor: pointer;
}
.itemContainer > div:hover{
    background-color: #6a544d;
    background-image: linear-gradient(315deg, #4b4d5f 0%, #644959 74%);
}

.itemContainer > div > p{
   
    text-align: center;
    margin-bottom: 25px;
}

.remove {
    width: 253px;
            height: 43px;
            background-color: #ba9a8e;
            background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 24px;
            box-shadow: 0;
            border-style: none;
            margin-top: 20px;

}

.remove:hover{
    cursor: pointer;
    background-color: #6a5851;
            background-image: linear-gradient(315deg, #525567 0%, #5b4151 74%);

}

#cartPopUp {
    display: none;
    position: absolute;
    left: 990px;
    padding: 10px;
    width: 180px;
    height: 50px;
    background-color: white;
    font-family: "Forum", cursive;
    font-weight: bolder;
    color: white;
    background-color: #ba9a8e;
            background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
}

#contactForms {
    display: flex;
    align-items: space-between;
    justify-content: center;
    margin-top: 100px;
    height: 450px;

}
     
    .contactBox {
         width: 250px;
         height: 20px;
         background-color: #D4DDDC;
         border-color: #D4DDDC;
         box-shadow: #D4DDDC;
         font-family: 'Poppins', sans-serif;
         font-style: bolder;
         font-size: 15px;
         color: #5D949E;
         box-shadow: 0;
     }
          #loginSubtext {
              font-family: 'Poppins', sans-serif;
              margin-bottom: 20px;
          }
         #loginButtonSubtext {
            font-family: 'Poppins', sans-serif;
            margin-left: 100px;
         }
         #messageBox {
            width: 250px;
            height: 60px;
            background-color: #D4DDDC;
            border-color: #D4DDDC;
            box-shadow: #D4DDDC;
            font-family: 'Poppins', sans-serif;
            font-style: bolder;
            font-size: 15px;
            color: #5D949E;
            box-shadow: 0;
         }
         #messageSubmitBtn {
            width: 253px;
            height: 43px;
            background-color: #ba9a8e;
            background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
            font-family: 'Poppins', sans-serif;
            color: white;
            font-size: 24px;
            box-shadow: 0;
            border-style: none;
         }
         #messageSubmitBtn:hover{
             cursor: pointer;
             background-color: #95786e;
            background-image: linear-gradient(315deg, #767a96 0%, #88687c 74%);
         }
         
#aboutUsText {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 12px;
    margin-right: 400px;
    margin-top: 100px;
    height: 200px;
    font-family: 'Forum', cursive;
    color: white;
    font-weight: bold;
    font-size: 38px;
}

#aboutUsFirstBox {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(148, 101, 57);
    color: white;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
}

#history{
    text-align: center;
}

#pedidos {
    font-size: larger;
    width: 1098px;
    height: 405px;
}

#aboutUsFirstTxt {
    width: 400px;
    height: 300px;
    text-align: justify;
    row-gap: 100px;
    font-family: 'Forum', cursive;

}

.aboutUsRow {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    font-family: 'Forum', cursive;
}

     #aboutUsCitation {
         display: flex;
         margin-left: 330px;
     }

#aboutUsSecondBox{
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(170, 180, 93);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 100px;   
}
      #aboutUsSecondTxt {
        width: 400px;
        height: 300px;
        text-align: justify;
        row-gap: 100px;
        font-family: 'Forum', cursive;
        color: white;

      }

#bottom {
    margin-top: 990px;
    
}
     #bottomRowGap {
         height: 1200px;
         opacity: 0; 
         z-index: -1;
     }

     #bottomBox {
         display: flex;
         position: relative;
         height: 500px;
         bottom: 100;
         width: 100%;
         background-color: #9fa4c4;
         background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }

     #contactTitle {
         display: flex;
         position: absolute;
         margin-bottom: 320px;
         font-size: 54px;
         color: rgb(48, 59, 64);
         font-family: 'Forum', cursive;
     }

     #addressTitleLine {
        display: flex;
        position: absolute;
        margin-bottom: 210px;
        width: 180px;
        height: 10px;
        background-color: rgb(92, 33, 91);
        margin-left: 5px;
        font-family: 'Forum', cursive;
        
     }

     #addressBox {
         display:flex;
         position: absolute;
         float: left;
         flex-direction: column;
         margin-right: 300px;
         margin-top: 46px;
         font-family: 'Forum', cursive;
         color: white;

     }

     #talkToUs {
         display: flex;
         position: absolute;
         margin-left: 470px;
         flex-direction: column;
         margin-top: 150px;
         font-family: 'Forum', cursive;
         color: white;
     }
#cart-sign{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d60f0f;
    color: whitesmoke;
    font-size: medium;
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    top: 1.5vh;
    left: 84vw;
}
    

     html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
      
      .pic-ctn {
          display: flex;
         width: 100vw;
         height: 400px;


      }
      
      @keyframes display {
        0% {
          transform: translateX(200px);
          opacity: 0;
        }
        10% {
          transform: translateX(0);
          opacity: 1;
        }
        20% {
          transform: translateX(0);
          opacity: 1;
        }
        30% {
          transform: translateX(-200px);
          opacity: 0;
        }
        100% {
          transform: translateX(-200px);
          opacity: 0;
        }
      }
      
      .pic-ctn {
          display: flex;
          position: absolute;
        margin-bottom: 150px;
        width: 100vw;
        height: 300px;
        
      }
      
      .pic-ctn > img {
        display: flex;
        position: absolute;
        top: 0;
        left: calc(50% - 100px);
        opacity: 0;
        animation: display 20s infinite;
      }
      
      img:nth-child(2) {
        animation-delay: 5s;
      }
      img:nth-child(3) {
        animation-delay: 10s;
      }
      img:nth-child(4) {
        animation-delay: 15s;
      }
      img:nth-child(5) {
        animation-delay: 20s;
      }

      .pic {
          display: flex;
          margin-bottom: 50px;
      }

 #wrong{
     color:red
 }

 #greeting{
     position:absolute;
     top:30vh;
     left:680px;
     color:whitesmoke;
     font-size: xx-large;
 }

